# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_VERDANT02

# The board-level ZMK build defaults to ROW2COL for historical reasons;
# Verdant02 PCB has COL2ROW (anode on COL side, user-verified with DMM).
config ZMK_KSCAN_MATRIX_COL2ROW
    default y

config ZMK_KSCAN_MATRIX_ROW2COL
    default n

endif
