# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_VERDANT02
    bool "Verdant02"
    depends on BOARD_PROMICRO_NRF52840 || BOARD_NICE_NANO
    help
      Verdant02 40% interleaved matrix (8x7). 54-key 4-row layout (14/13/14/13).
